@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, button {
    line-height: 1.1;
}

h1, h2 {
    margin-bottom: 20px;
}

h3, h4, h5, h6 {
    margin-bottom: 15px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 18px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

p, a, div {
    color: var(--text);
}

a[href^="tel"] {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--accent);
    opacity: 1;
    transition: 0.3s opacity;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

ul, ol {
    list-style: none;
}

button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 4px 12px;
    margin: 0;
    font: inherit;
    text-align: center;
    text-decoration: none;
    user-select: none; 
    appearance: none; 
    color: #f3f7f3;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--secondary);
    transition: .2s;
}

button.alt {
    color: #f3f7f3;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--background-transparent);
    transition: .2s;
}

button:hover {
    opacity: .75;
    transition: .2s;
}

:root[data-theme="light"] {
    --text: #121612;
    --background: #f3f7f3;
    --background-secondary: #e0e0e0;
    --background-transparent: #f3f7f385;
    --primary: #328f37;
    --secondary: #6ab66c;
    --accent: #16ad1e;
    --alert: #D9534F;

    --input: #c2c2c2;
    --input-border: #a5a5a5;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

:root[data-theme="dark"] {
    --text: #e9ede9;
    --background: #080c08;
    --background-secondary: #151f15;
    --background-transparent: #080c0886;
    --primary: #338f38;
    --secondary: #19501c;
    --accent: #15961c;
    --alert: #D9534F;

    --input: #c2c2c2;
    --input-border: #a5a5a5;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
    background: transparent; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumb-hover);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

/* SELECTION */

::-moz-selection {  
    background: #5eb06246;
}

::selection {
    background: #5eb06246;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
}

/* EXAM POPUP */

.exam-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--background-transparent);
    backdrop-filter: blur(3px);
    z-index: 10;
}

.exam-popup-background .exam-popup {
    width: 85%;
    max-width: 350px;
    height: fit-content;
    max-height: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #919191;
    display: none;
    flex-direction: column;
    gap: 5px;
    animation: popup 0.3s forwards;
    background: var(--background-secondary);
    overflow: auto;
}

@keyframes popup {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.exam-popup .close-exam-popup {
    color: var(--text-alt);
    width: 21px;
    height: 21px;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    opacity: 0.75;
    margin-bottom: 5px;
}

.exam-popup h2 {
    margin-bottom: 15px;
}

.exam-popup #examName {
    font-size: 14px;
    padding: 4px;
    border-radius: 5px;
    background: var(--input);
    border: 1px solid var(--input-border);
}

.exam-popup #examName:focus {
    outline: none;
    border: 1px solid var(--input-border);
}

.exam-popup h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 20px;
}

.exam-popup h4 span {
    font-weight: 300;
    opacity: .75;
}

.exam-popup .date-input {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.exam-popup .date-input input {
    all: unset;
    display: inline-block; 
    height: auto; 
    font: inherit; 
    background: transparent; 
    border: none; 
    margin: 0; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    cursor: pointer; 
    box-sizing: border-box;

    font-size: 14px;
    height: 27px;
    width: 135px;
    padding: 4px;
    border-radius: 5px;
    background: var(--input);
    border: 1px solid var(--input-border);
    color: #303030;
}

.exam-popup .date-input input::placeholder {
    color: #b4b4b4;
    opacity: .5;
}

.exam-popup .date-input .delete {
    background-color: var(--alert);
    border: 1px solid #b6403c;
    aspect-ratio: 1 / 1;
    width: 27px;
    height: 27px;
    padding: 0;
}

.exam-popup #alertAddExam {
    font-size: 14px;
    margin-top: 15px;
    color: var(--alert);
}

.exam-popup #saveExam {
    margin-top: 5px;
}

.exam-popup-background.show {
    display: flex;
}

.exam-popup-background.show .exam-popup {
    display: flex;
}

/* DATE PICKER */

.custom-number-picker {
    display: flex;
}

.custom-number-picker .picker-number {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-border);
    border-left: none;
    border-right: none;
}

.custom-number-picker .picker-decrement,
.custom-number-picker .picker-increment {
    width: 20px;
    background-color: var(--input);
    border: 1px solid var(--input-border);
    color: #303030 !important;
}

.custom-number-picker .picker-decrement {
    border-radius: 5px 0 0 5px;
}

.custom-number-picker .picker-increment {
    border-radius: 0 5px 5px 0;
}