@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--background);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, a, button {
    line-height: 1.1;
}

h1, h2 {
    margin-bottom: 20px;
}

h3, h4, h5, h6 {
    margin-bottom: 15px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

@media (max-width: 768px) {
    
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 22px;
    }
    
    h3 {
        font-size: 18px;
    }
}

p {
    line-height: 1.4;
    margin-bottom: 6px;
}

p, a, div {
    color: var(--text);
}

a[href^="tel"] {
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--primary);
    opacity: 1;
    transition: 0.3s opacity;
}

a:hover {
    opacity: 0.8;
    transition: 0.3s opacity;
}

ul, ol {
    list-style: none;
}

button {
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    background: none;
    padding: 4px 12px;
    margin: 0;
    font: inherit;
    text-align: center;
    text-decoration: none;
    user-select: none; 
    appearance: none; 
    color: #f3f7f3;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--secondary);
    transform: scale(1);
    transition: .2s;
}

button:active {
    transform: scale(0.95);
    transition: 0.3s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }

button.alt {
    background-color: var(--secondary);
    border: 1px solid var(--background-transparent);
}

button:hover {
    opacity: .75;
    transition: .2s;
}

.bold {
    font-weight: bold;
}

:root[data-theme="light"] {
    --text: #121612;
    --background: #f6f8fa;
    --background-secondary: #ffffff;
    --background-transparent: #ffffff85;
    --primary: #1f883d;
    --secondary: #6eaf7e;
    --alert: #cf222e;

    --delete: #bfbfbf;
    --delete-border: #757575;

    --input: #f0f0f0;
    --input-border: #979797;

    --text-shadow: #1f883d67;

    --exam-container-border: #c0c0c0;

    --rank-1: #338f38;
    --rank-2: #5a8d5c;
    --rank-3: #758676;
    --rank-rest: #a8a8a8;
    --combination-card-shadow: rgba(0,0,0,0.15);

    --datepicker-background: #f3f3f3;
    --datepicker-border: #c0c0c0;
    --datepicker-hover: #1f883d5e;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

:root[data-theme="dark"] {
    --text: #ffffff;
    --background: #010409;
    --background-secondary: #0d1117;
    --background-transparent: #0d111783;
    --primary: #238636;
    --secondary: #105823;
    --alert: #da3633;

    --delete: #575757;
    --delete-border: #3b3b3b;

    --input: #1c1e27;
    --input-border: #454649;

    --text-shadow: #2386375e;

    --exam-container-border: #1c1e27;

    --rank-1: #238636;
    --rank-2: #5a8d5c;
    --rank-3: #758676;
    --rank-rest: #a8a8a8;
    --combination-card-shadow: rgba(255, 255, 255, 0.15);

    --datepicker-background: #080a0e;
    --datepicker-border: #1c1e27;
    --datepicker-hover: #23863750;

    --scrollbar: #e2e2e2;
    --scrollthumb: #adadad;
    --scrollthumb-hover: #888888;
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 16px;
    background: transparent; 
}

::-webkit-scrollbar-track {
    background: var(--scrollbar);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollthumb-hover);
    border: 4px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
}

/* SELECTION */

::-moz-selection {  
    background: #5eb06246;
}

::selection {
    background: #5eb06246;
}




.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
}

.spacer {
    height: 50px;
}

/* EXAM POPUP */

.exam-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--background-transparent);
    backdrop-filter: blur(3px);
    z-index: 10;
}

.exam-popup-background .exam-popup {
    width: 85%;
    max-width: 400px;
    height: fit-content;
    max-height: 90%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #919191;
    display: none;
    flex-direction: column;
    gap: 5px;
    animation: popup 0.3s forwards;
    background: var(--background-secondary);
    overflow: auto;
}

@keyframes popup {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

.exam-popup .close-exam-popup {
    color: var(--text-alt);
    width: 21px;
    height: 21px;
    text-align: center;
    align-self: flex-end;
    cursor: pointer;
    opacity: 0.75;
}

.exam-popup h2 {
    margin-bottom: 15px;
}

.exam-popup #examName {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 5px;
    background: var(--input);
    border: 1px solid var(--input-border);
    color: var(--text);
}

.exam-popup #examName:focus {
    outline: none;
    border: 1px solid var(--input-border);
}

.exam-popup #addDateButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.exam-popup h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 25px;
    opacity: .75;
}

.exam-popup h4 span {
    font-weight: 300;
    opacity: .75;
}

.exam-popup .date-input {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.exam-popup .date-input input {
    all: unset;
    display: inline-block; 
    height: auto; 
    font: inherit; 
    background: transparent; 
    border: none; 
    margin: 0; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    cursor: pointer; 
    box-sizing: border-box;

    font-size: 14px;
    height: 27px;
    width: 135px;
    padding: 4px;
    border-radius: 5px;
    background: var(--input);
    border: 1px solid var(--input-border);
    color: var(--text);
}

.exam-popup .date-input .delete {
    background-color: var(--delete);
    border: 1px solid var(--delete-border);
    aspect-ratio: 1 / 1;
    width: 27px;
    height: 27px;
    padding: 0;
}

.exam-popup #alertAddExam {
    font-size: 14px;
    margin-top: 15px;
    color: var(--alert);
}

.exam-popup #saveExam {
    padding: 8px 12px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.exam-popup-background.show {
    display: flex;
}

.exam-popup-background.show .exam-popup {
    display: flex;
}

/* DAYS PICKER */

.custom-number-picker {
    display: flex;
}

.custom-number-picker .picker-number {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--input-border);
    border-left: none;
    border-right: none;
}

.custom-number-picker .picker-decrement,
.custom-number-picker .picker-increment {
    width: 20px;
    background-color: var(--input);
    border: 1px solid var(--input-border);
    color: var(--text) !important;
}

.custom-number-picker .picker-decrement {
    border-radius: 5px 0 0 5px;
}

.custom-number-picker .picker-increment {
    border-radius: 0 5px 5px 0;
}

/* DATE PICKER */

.datepicker {
    padding: 4px 8px !important;
}

.air-datepicker--pointer::after {
    background: var(--datepicker-background) !important;
    border-top: 1px solid var(--datepicker-border) !important;
    border-right: 1px solid var(--datepicker-border) !important;
}

.air-datepicker {
    background-color: var(--datepicker-background) !important; 
    border: 1px solid var(--datepicker-border) !important;
    color: var(--text) !important;
}

.air-datepicker-nav {
    border: none !important;
}

.air-datepicker-nav--title:hover,
.air-datepicker-cell:hover,
.air-datepicker-nav--action:hover {
    background-color: var(--datepicker-hover) !important;
}

.air-datepicker-cell.-current- {
    color: var(--primary) !important;
}

.air-datepicker-cell.-other-month- {
    opacity: .5 !important;
}

.air-datepicker-body--day-name {
    color: var(--secondary) !important;
}

.air-datepicker-cell.-selected- {
    background-color: var(--secondary) !important;
    color: var(--text) !important;
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    color: var(--text);
    height: 42px;
    margin-bottom: 25px;
    display: flex;
    align-items: start;
    gap: 5px;
}  

[data-theme="dark"] .intro h1 {
    filter: brightness(125%);
} 

.intro p {
    text-align: center;
    max-width: 700px;
    opacity: .75;
    margin-bottom: 30px;
}

.intro h1 span {
    font-size: 14px;
    font-weight: 500;
    background-color: var(--secondary);
    padding: 2px 5px;
    border-radius: 10px;
    margin-top: 3px;
}

/* INPUT */

.input {
    display: flex;
    flex-direction: column;
    gap: 50px;
    border: 1px solid var(--exam-container-border);
    border-radius: 5px;
    padding: 25px;
}

/* EXAM CONTAINER */

.exams {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
}

.exams #addExamButton {
    background-color: transparent;
    border-width: 2px;
    border-style: dashed;
    border-color: var(--primary);
    color: var(--text);
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.exams .exam {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    gap: 25px;
}

.exams .exam h3 {
    margin-bottom: 0;
    color: var(--text);
    text-transform: capitalize;
}

.exams .exam h4 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    opacity: .75;
    color: var(--text);
}

.exams .exam ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.exams .exam li {
    font-size: 14px;
    opacity: .5;
    font-weight: 300;
    color: var(--text);
}

.exams .exam .required-days-number {
    font-size: 14px;
    opacity: .5;
    font-weight: 300;
    color: var(--text);
}

.exams .exam .delete-exam-btn {
    margin-top: auto;
    width: 100%;
}

@media (max-width: 850px) {
    .exams {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 600px) {
    .exams {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 450px) {
    .exams {
        grid-template-columns: repeat(1, 1fr); 
    }

    .exams #addExamButton {
        min-height: 100px;
    }
}

/* EXAMS AT THE SAME TIME */

.exams-at-the-same-time p {
    font-size: 14px;
    margin-bottom: 15px;
}

/* CALCULATE */

.calculate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculate .alert {
    display: none;
    font-size: 14px;
    margin-bottom: 15px;
    color: var(--alert);
    text-align: center;
}

.calculate #calculateButton {
    padding: 8px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 450px) {
    .calculate #calculateButton {
        width: 100%;
    }
}

/* OUTPUT */

.output {
    display: none;
}

.output-text {
    margin-bottom: 50px;
}

.combination-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
}

@media (max-width: 768px) {
    .combination-cards {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.combination-card {
    background: var(--background-secondary);
    border-radius: 5px;
    padding: 20px;
    box-shadow: none;
    position: relative;
    border: 1px solid var(--background-secondary);
    transition: transform 0.2s, box-shadow 0.2s;
}

.combination-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 15px var(--combination-card-shadow);
}

.score-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--rank-rest);
    color: #f3f7f3;
    border-radius: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
}

.exam-list {
    list-style: none;
    padding: 0;
    margin: 15px 0 0;
}

.exam-item {
    color: var(--text);
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background: var(--input);
    border-radius: 5px;
    border-left: 4px solid var(--input-border);
    font-size: 14px;
}

.exam-name {
    flex: 1;
    font-weight: 400;
    text-transform: capitalize;
}

.exam-date {
    opacity: .6;
}

.rank-1 {
    border: 2px solid var(--rank-1);
}

.rank-1 .score-badge {
    background: var(--rank-1);
}

.rank-2 {
    border: 2px solid var(--rank-2);
}

.rank-2 .score-badge {
    background: var(--rank-2);
}

.rank-3 {
    border: 2px solid var(--rank-3);
}

.rank-3 .score-badge {
    background: var(--rank-3);
}

/* FOOTER */

footer {
    font-size: 14px;
    font-weight: 400;
    opacity: .75;
}

footer .tag {
    text-align: center;
}